html{
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(54,188,255);
  background: linear-gradient(147deg, rgba(54,188,255,1) 0%, rgba(88,127,236,1) 48%, rgba(72,57,195,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
